<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>Web application created by Saksham Koul.</p>
      <p>Fetches weather data from the following APIs - </p>
      <ul>
        <li><a href="https://www.mapbox.com/" target="_blank">Mapbox</a></li>
        <li><a href="https://weatherstack.com/" target="_blank">Weatherstack</a></li>
      </ul>
      <img src="./img/Me.jpg" alt="Scenery" class="portrait"/>
    </div>

    {{>footer}}
  </body>
</html>
